<mat-form-field class="col" [ngClass]="main.ClearValues? 's11':'s12'">
    <mat-label [matTooltip]="field.info" >{{field.etiqueta}}</mat-label>
    <input 
    [id]="fieldId"
        matInput
        type="text" 
        [formControl]="text"
        [required]="field.requerido" 
        placeholder="{{ field.placeholder }}" 
        (blur)="getValue.emit(
        {
            key:field.etiqueta, 
            value:$event.target.value
        })" />
    <mat-error *ngIf="text.invalid">{{error.getErrorMessage(field)}}</mat-error>
</mat-form-field>

<mat-chip class="col s1 clear_value" 
    [matTooltip]="'Elimina el atributo'"
    *ngIf="main.ClearValues"
    (click)="main.clearFieldValue.next(field.etiqueta)" >
    <i class="fas fa-trash red-text"></i>
</mat-chip>