<div class="row" id="data-form">
    <form action="#" onsubmit="return false" #addInput="ngForm">
        
        
        <div class="row" id="tipo-selecter">


            <!-- * Tipo de field -->
            <div class="col s10">
                <mat-form-field>
                    <mat-label>Tipo de campo</mat-label>
                    <mat-select 
                        *ngIf="fieldTypes" 
                        name="tipo" 
                        (selectionChange)="onSetChanges()" 
                        [(ngModel)]="field.tipo">
                        <mat-option
                            *ngFor="let tipo of fieldTypes"
                            [value]="tipo.type"
                            (click)="field.tipo = tipo.type"
                            (click)="focusEtiqueta()"
                            class="fieldType"
                        >
                            {{ tipo.displayName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <!-- * REQUERIDO? -->
            <div class="col s2">
                <label for="">Requerido</label>
                <div class="switch">
                    <label>
                        <input
                        type="checkbox"
                        name="requerido-{{field.ID}} "
                        [(ngModel)]="field.requerido"
                        (click)="onSetChanges()"
                        />
                        <span class="lever"></span>
                    </label>
                </div>
            </div>

        </div>
        <!-- ---------------------------------------  -->
        <div class="row" id="etiqueta">


            <!-- * Nombre de etiqueta -->
            <mat-form-field class="col" 
            [ngClass]="_formConstructor.hideField ? 's8' : 's12'">
                <mat-label for="etiqueta" class="active">Etiqueta</mat-label>
                <input
                    matInput
                    type="text"
                    name="etiqueta-{{field.ID}}"
                    id="etiqueta-{{field.ID}}"
                    [(ngModel)]="field.etiqueta"
                    (blur)="onSetChanges()"
                    #etiqueta="ngModel"
                    [required]="true"
                />
            </mat-form-field>

            <!-- * Activar vista de campo -->
            <div class="col s4"  *ngIf="_formConstructor.hideField">

                <mat-slide-toggle
                    #oculto
                    name="oculto-{{field.ID}}"
                    id="oculto-{{field.ID}}"
                    [matTooltip]="'Asigna un atributo HIDE el cual se puede usar para ocular los valores en el frontend'"
                    [(ngModel)]="field.oculto"
                    (change)="onSetChanges()"
                >Ocultar
                </mat-slide-toggle>
            </div>

        </div>
        <!-- ---------------------------------------  -->
        <div class="row" id="indetificador">


            <!-- * Identificador -->
            <mat-form-field class="col s8">
                <mat-label for="ID" class="active">Identificador</mat-label>
                <input
                    matInput
                    type="text"
                    name="ID-{{field.ID}} "
                    id="ID-{{field.ID}} "
                    [value]="suggestID()"
                    [(ngModel)]="field.ID"
                    (change)="onSetChanges()"
                    #ID="ngModel"
                    pattern="^[a-z0-9_]+$"
                    [required]="true"
                    [disabled]="disableEditID()"
                />
            </mat-form-field>

            <!-- * Activar edición de ID -->
            <div class="col s4" *ngIf="field.estado != 'nuevo'">
                <mat-slide-toggle
                    #changeId
                    [matTooltip]="'Si cambias el ID, probablemente tu base de datos deje de funcionar correctamente'"
                    (change)="editID($event,field.ID)"
                    (change)="onSetChanges()"
                >
                    Editar
                    <i class="fas fa-exclamation-triangle yellow-text"></i>
                </mat-slide-toggle>
            </div>





        </div>
        <!-- --------------------------------------------- -->
        <div class="row" id="data-required">


            <!-- * Descripción -->
            <mat-form-field class="col {{ _formConstructor.mediaWidth }}">
                <mat-label for="info"
                    [ngClass]="{'active': field.info}"
                    >Descripción
                    <span style="font-size: smaller;">(opcional)</span>
                </mat-label>
                <textarea
                    matInput
                    name="info-{{field.ID}} "
                    class="materialize-textarea"
                    id="info-{{field.ID}} "
                    cols="30"
                    rows="10"
                    [(ngModel)]="field.info"
                    (blur)="onSetChanges()"
                ></textarea>
            </mat-form-field>


            <!-- * Placeholder -->
            <mat-form-field class="col {{ _formConstructor.mediaWidth }}">
                <mat-label for="placeholder">Placeholder</mat-label>
                    <input
                        matInput
                        type="text"
                        name="placeholder-{{field.ID}} "
                        id="placeholder-{{field.ID}} "
                        [(ngModel)]="field.placeholder"
                        (blur)="onSetChanges()"
                        #placeholder="ngModel"
                        [disabled]="disablePlaceholder()"
                    />
            </mat-form-field>
            
            
        </div>
        <!-- ------------------------------------------ -->
        <div class="row" *ngIf="enableErrorMsg()" >

            <!-- * Mensaje de error -->
            <mat-form-field class="col {{ _formConstructor.mediaWidth }}">
                <mat-label>Mensaje de error</mat-label>
                <input 
                    matInput
                    type="text"
                    name="errorMsg"
                    id="errorMsg"
                    [(ngModel)]="field.errorMsg"
                    #errorMsg="ngModel"
                    placeholder="Agrega un mensaje de error"
                    (blur)="onSetChanges()"
                    >
            </mat-form-field>

        </div>
        <!-- ------------------------------------------ -->
        <div class="row" id="data-extra">


            <!-- * Campos especiales -->
            <div [ngSwitch]="field.tipo">
                <div *ngSwitchCase="'number'">
                    <Gdev-number-form></Gdev-number-form>
                </div>
                <div *ngSwitchCase="'phone'">
                    <Gdev-number-form></Gdev-number-form>
                </div>
                <div *ngSwitchCase="'select'">
                    <Gdev-select-form 
                        [opciones]="field.opciones" 
                        (getOpciones)="recibeOpciones($event)" >
                    </Gdev-select-form>
                </div>
                <div *ngSwitchCase="'radio'">
                    <Gdev-radio-form 
                        [opciones]="field.opciones" 
                        (getOpciones)="recibeOpciones($event)" >
                    </Gdev-radio-form>
                </div>
                <div *ngSwitchCase="'switch'">
                    <Gdev-switch-form></Gdev-switch-form>
                </div>
                <div *ngSwitchCase="'range'">
                    <Gdev-range-form></Gdev-range-form>
                </div>
                <div *ngSwitchCase="'level'">
                    <Gdev-level-form></Gdev-level-form>
                </div>
                <div *ngSwitchCase="'multiple'">
                    <Gdev-multiple-form 
                        [opciones]="field.opciones" 
                        (getOpciones)="recibeOpciones($event)" >
                    </Gdev-multiple-form>
                </div>
                <div *ngSwitchCase="'file'">
                    <Gdev-file-form></Gdev-file-form>
                </div>
                <div *ngSwitchCase="'images'">
                    <Gdev-file-form></Gdev-file-form>
                </div>
                <div *ngSwitchDefault></div>
            </div>
            
            
        </div>
       
    </form>
</div>
