<div class="col s11 input-field">
    <textarea
        type="text"
        class="materialize-textarea"
        [ngClass]="{ active: field.placeholder }"
        [id]="field.etiqueta"
        [name]="field.etiqueta"
        [value]="setValue()"
        [required]="field.requerido"
        placeholder="{{ field.placeholder }}"
        (blur)="
            getValue.emit({
                key: field.etiqueta,
                value: $event.target.value
            })
        "
    ></textarea>
    <Gdev-info-box *ngIf="field.info" [data]="field"></Gdev-info-box>
    <label
        [for]="field.etiqueta"
        [ngClass]="{ active: field.placeholder || value }"
        >{{ field.etiqueta }}
        <span class="red-text" *ngIf="field.requerido">*</span>
    </label>
</div>


<div class="col s1">
    <mat-chip
        class="clear_value"
        *ngIf="main.ClearValues"
        (click)="main.clearFieldValue.next(field.etiqueta)"
    >
        <i class="fas fa-trash red-text"></i>
    </mat-chip>
</div>
