<div class="row">
    <div class="col s12">
        <button mat-raised-button
        (click)="file.click()">
            {{displayAction}}
        </button>
        <input id="fileInput" type="file" name="file" #file
        (change)="onFileSelected($event)"
        >
    </div>
    <div class="col s12">
        <div class="imgArea">
            <div class="imgContent">
                <img id="imagePreview" src="" alt="" #imagePreview>
                <span class="delItem" (click)="deleteFile()"><i class="fas fa-times-circle"></i></span>
            </div>
            <div *ngIf="imageLoadPercent">
                <ng-container *ngIf="imageLoadPercent < 100; else cargado">
                    Cargando: {{imageLoadPercent}}%
                </ng-container>
                <ng-template #cargado>
                    CARGADO 
                    <i class="fas fa-check-circle green-text"></i>
                </ng-template>
            </div>
        </div>
    </div>
</div>
