<div class="col s11">
    <label for="">
        {{ field.etiqueta }}
        <span class="red-text" *ngIf="field.requerido">*</span>
    </label>


    <div class="col s12" *ngIf="field.multiple">
        <button
            [matTooltip]="field.info"
            mat-raised-button
        >
            {{field.llamadoAccion}}
        </button>
        <input
            hidden
            #filesInput
            *ngIf="!field.multiple"
            (change)="onFileSelected($event)"
            type="file"
            [id]="field.etiqueta"
        />
    </div>


    <div class="col s12" *ngIf="!field.multiple">
        <button
            [matTooltip]="field.info"
            mat-raised-button
            (click)="fileInput.click()"
        >
            {{field.llamadoAccion}}
        </button>
        <input
            hidden
            #fileInput
            (change)="onFileSelected($event)"
            type="file"
            multiple
            [id]="field.etiqueta"
        />
    </div>
    <div class="col s12">
        <div class="imgArea">
            <div class="imgContent" *ngFor="let image of imagesLoaded; let i=index">
                <img [id]="image.name" src="" alt="">
                <span class="delItem" (click)="deleteFile(i)"><i class="fas fa-times-circle"></i></span>
            </div>
        </div>
    </div>
</div>


        
<div class="col s1">
    <mat-chip class="clear_value" 
        [matTooltip]="'Elimina el atributo'"
        *ngIf="main.ClearValues"
        (click)="main.clearFieldValue.next(field.etiqueta)" >
        <i class="fas fa-trash red-text"></i>
    </mat-chip>
</div>


