<div [ngSwitch]="field.tipo">
    <div *ngSwitchCase="'text'">
        <Gdev-text-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-text-field>
    </div>
    <div *ngSwitchCase="'email'">
        <Gdev-text-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-text-field>
    </div>
    <div *ngSwitchCase="'password'">
        <Gdev-text-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-text-field>
    </div>
    <div *ngSwitchCase="'number'">
        <Gdev-number-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-number-field>
    </div>
    <div *ngSwitchCase="'phone'">
        <Gdev-number-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-number-field>
    </div>
    <div *ngSwitchCase="'textarea'">
        <Gdev-textarea-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-textarea-field>
    </div>
    <div *ngSwitchCase="'select'">
        <Gdev-select-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-select-field>
    </div>
    <div *ngSwitchCase="'tags'">
        <Gdev-etiquetas-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-etiquetas-field>
    </div>
    <div *ngSwitchCase="'radius'">
        <Gdev-radius-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-radius-field>
    </div>
    <div *ngSwitchCase="'multiple'">
        <Gdev-multiple-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-multiple-field>
    </div>
    <div *ngSwitchCase="'checkbox'">
        <Gdev-checkbox-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-checkbox-field>
    </div>
    <div *ngSwitchCase="'switch'">
        <Gdev-switch-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-switch-field>
    </div>
    <div *ngSwitchCase="'level'">
        <Gdev-level-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-level-field>
    </div>
    <div *ngSwitchCase="'range'">
        <Gdev-range-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-range-field>
    </div>
    <div *ngSwitchCase="'date'">
        <Gdev-datepicker-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-datepicker-field>
    </div>
    <div *ngSwitchCase="'time'">
        <Gdev-timepicker-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-timepicker-field>
    </div>
    <div *ngSwitchCase="'file'">
        <Gdev-file-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-file-field>
    </div>
    <div *ngSwitchCase="'images'">
        <Gdev-file-image-field [value]="Value" [field]="field" (getValue)="catchValue($event)"></Gdev-file-image-field>
    </div>
    <div *ngSwitchDefault>

    </div>
</div>