<div class="col s11 checkbox-field">
    <mat-checkbox 
        [checked]="setValue()" 
        [required]="field.requerido"
        [matTooltip]="field.info"
        [id]="fieldId"
        (click)="getValue.emit({
            key:field.etiqueta, 
            value:$event.target.value
        })">
        {{field.etiqueta}}
        <span class="red-text" *ngIf="field.requerido">*</span>
    </mat-checkbox>
</div>

<div class="col s1">
    <mat-chip class="clear_value" 
        [matTooltip]="'Elimina el atributo'"
        *ngIf="main.ClearValues"
        (click)="main.clearFieldValue.next(field.etiqueta)" >
        <i class="fas fa-trash red-text"></i>
    </mat-chip>
</div>
