.opcion {
    display: flex;
    align-items: center;
}

.opcion-nueva {
    display: inline-flex;
    label {
        color: inherit !important;
        position: relative;
        top: 0.75em;
    }
    .opcion-input {
        position: relative;
        bottom: 1em;
        margin-bottom: 0 !important;
    }
}