<div class="col s12">
    <mat-form-field class="tags-{{ field.etiqueta }}">
        <mat-chip-list #chipList>
            <mat-chip
                *ngFor="let tag of field.tags"
                [selectable]="true"
                [removable]="true"
                (removed)="remove(tag)"
            >
                {{ tag }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
                [placeholder]="field.etiqueta"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="add($event)"
            />
        </mat-chip-list>
    </mat-form-field>
</div>
