.clear_value{
    opacity: 0;
    transition: all .3s;
    cursor: pointer !important;
    background: transparent !important;
    color: #fff !important;
    padding: 0px 5px;
}

    
gdev-checkbox:hover .clear_value,
gdev-datepicker:hover .clear_value,
gdev-file:hover .clear_value,
gdev-file-image .clear_value,
gdev-level:hover .clear_value,
gdev-multiple:hover .clear_value,
gdev-number:hover .clear_value,
gdev-radius:hover .clear_value,
gdev-range:hover .clear_value,
gdev-select:hover .clear_value,
gdev-switch:hover .clear_value,
gdev-text:hover .clear_value,
gdev-textarea:hover .clear_value,
gdev-timepicker:hover .clear_value{
    opacity: 1;
}