$primary: #005daa;
$sencondary:#4e97d3;
/* input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $primary !important;
    box-shadow: 0 1px 0 0 $primary !important;
} */

/* input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: $primary !important;
} */

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: $primary !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: $sencondary !important;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.switch label .lever {
    box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.3);
}

.mat-slider-toggle{
    margin: 1em 0 0;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
    border: 2px solid $primary !important;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after {
    background-color: $primary !important;
}

[type="checkbox"].filled-in:checked+label:after {
    border: 2px solid $primary !important;
    background-color: $primary !important;
}

.noUi-connect {
    background: $primary !important;
}

input[type=range]+.thumb {
    background-color: $primary !important;
}

.datepicker-date-display {
    background-color: $primary !important;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: $primary !important;
}

.datepicker-table td.is-selected {
    background-color: $primary;
}

.is-today {
    button: {
        color: $primary !important;
        font-weight: 700;
    }
}

.timepicker-digital-display {
    background-color: $primary !important;
}

.timepicker-canvas line {
    stroke: $primary !important;
}

.timepicker-canvas-bg {
    fill: $primary !important;
}

.timepicker-canvas-bearing {
    fill: $primary !important;
}

.timepicker-close {
    color: $primary !important;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
    background-color: $primary !important;
}

.btn,
.btn-large,
.btn-small {
    background-color: $primary !important;
}

// Material
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $primary;
}

.mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: $primary !important;
}

input:not([type]), input:not([type]):focus:not([readonly]) {
    border-bottom: none !important;
    box-shadow: none !important;
}



.mat-option-text {
    text-transform: capitalize;
}