select {
    display: block !important;
}

$shadow: 0 0 3px rgba($color: #000000, $alpha: 0.5);
#data-form {
    box-shadow: $shadow;
    padding: 3%;
}

.opcion {
    p {
        width: 100%;
        label {
            .opcion-input {
                min-width: 30%;
            }
        }
        .del-opcion {
            cursor: pointer !important;
        }
    }
}

mat-select{
    text-transform: capitalize;
    .fieldType {
        text-transform: capitalize;
    }
}