<div class="col s11">

    <div class="label-cont" matTooltip="{{field.info}}">
        <p>
            {{field.etiqueta}}
            <span class="red-text" *ngIf="field.requerido">*</span>
        </p>
        <!-- <Gdev-info-box *ngIf="field.info" [data]="field"></Gdev-info-box> -->
    </div>
    <mat-radio-group [id]="fieldId" [value]="setValue()">
        <mat-radio-button 
            *ngFor="let opcion of field.opciones;"
            [value]="opcion.value" 
            (click)="getValue.emit({
                            key:this.field.etiqueta, 
                            value:opcion.value})"
        >
            {{opcion.value}}
        </mat-radio-button>
    </mat-radio-group>

</div>

<div class="col s1">
    <mat-chip class="clear_value" 
        [matTooltip]="'Elimina el atributo'"
        *ngIf="main.ClearValues"
        (click)="main.clearFieldValue.next(field.etiqueta)" >
        <i class="fas fa-trash red-text"></i>
    </mat-chip>
</div>