<div class="col s11">
    <mat-slide-toggle
        [color]="'primary'"
        [id]="field.etiqueta"
        [checked]="setValue()"
        (change)="onSwitch($event)"
    >
        {{ field.etiqueta }}
        <span class="red-text" *ngIf="field.requerido">*</span>
    </mat-slide-toggle>
</div>

<div class="col s1">
    <mat-chip class="clear_value" 
        [matTooltip]="'Elimina el atributo'"
        *ngIf="main.ClearValues"
        (click)="main.clearFieldValue.next(field.etiqueta)" >
        <i class="fas fa-trash red-text"></i>
    </mat-chip>
</div>
