<div class="col s11">
    <div class="label-cont">
        <label for="{{field.etiqueta}}">
            {{field.etiqueta}} <span class="red-text"
                *ngIf="field.requerido">*</span>
        </label>
        <Gdev-info-box *ngIf="field.info" [data]="field"></Gdev-info-box>
    </div>
    <div class="range-slider" id="{{field.etiqueta}}-slider"></div>
</div>


<div class="col s1">
    <mat-chip class="clear_value" 
        [matTooltip]="'Elimina el atributo'"
        *ngIf="main.ClearValues"
        (click)="main.clearFieldValue.next(field.etiqueta)" >
        <i class="fas fa-trash red-text"></i>
    </mat-chip>
</div>