<div class="col s9 input-field">
    <input
        type="text"
        name="minText"
        id="minText"
        (blur)="_adder.getAttr.next({key:'minText', value:$event.target.value})"
    />
    <label for="minText">Etiqueta min</label>
</div>
<div class="col s3 input-field">
    <input
        type="text"
        name="minCant"
        id="minCant"
        (blur)="_adder.getAttr.next({key:'minCant', value: $event.target.value})"
        required
    />
    <label for="minCant">Min</label>
</div>
<div class="col s9 input-field">
    <input
        type="text"
        name="maxText"
        id="maxText"
        (blur)="_adder.getAttr.next({key:'maxText', value: $event.target.value})"
    />
    <label for="maxText">Etiqueta max</label>
</div>
<div class="col s3 input-field">
    <input
        type="text"
        name="maxCant"
        id="maxCant"
        (blur)="_adder.getAttr.next({key:'maxCant', value:$event.target.value})"
        required
    />
    <label for="maxCant">Max</label>
</div>

<div class="col s6 input-field">
    <input
        type="number"
        name="steps"
        id="steps"
        (blur)="_adder.getAttr.next({key:'steps', value:+$event.target.value})"
        placeholder="Cantidad a saltar al mover el slider"
    />
    <label for="steps" class="active">Saltos</label>
</div>
