<div class="collapsible-body">
  <div class="row">


    <div class="col s6" *ngIf="item[service.objectKeys.imageUrl]">
      <div class="imgContainerBig">
        <ng-container *ngIf="item[service.objectKeys.imageUrl]['url']; else noAlt">
          <img [src]="item[service.objectKeys.imageUrl]['url']"
             [alt]="item[service.objectKeys.imageUrl]['alt']">
        </ng-container>
        <ng-template #noAlt>
          <img [src]="item[service.objectKeys.imageUrl]">
        </ng-template>
      </div>
    </div>


    <div class="col" [ngClass]="item[service.objectKeys.imageUrl] ? 's6':'s12'">
      <table class="bordered">
        <tbody>
          <div *ngFor="let attr of attrs">
            <tr class="attr"
                *ngIf="checkItemAttr(attr)"
                >
              <th>{{attr}}</th>
              <td>

                <div [ngSwitch]="checkType(item[attr])">
                  
                  <!-- objectArray -->
                  <div *ngSwitchCase="'objectArray'">
                    <ul>
                      <li *ngFor="let keyValue of item[attr] | keyvalue; index as i">
                        <b *ngIf="checkObjectArrayKey(keyValue.key)">{{keyValue.key}}:</b>{{keyValue.value}}
                        <span *ngIf="i != item[attr].length -1">,</span>
                      </li>
                    </ul>
                  </div>

                  <!-- array -->
                  <div *ngSwitchCase="'array'">
                    <span *ngFor="let value of item[attr]; let i=index">
                      {{value}}<span *ngIf="i != item[attr].length + 1">, </span>
                    </span>
                  </div>

                  <!-- boolean -->
                  <div *ngSwitchCase="'boolean'">
                    <i *ngIf="item[attr] == true" 
                    class="fas fa-check blue-text darken-4"></i>
                    <i *ngIf="item[attr] == false" 
                    class="fas fa-times red-text"></i>
                  </div>

                  <!-- string -->
                  <div *ngSwitchDefault>
                    {{item[attr]}}
                  </div>
                </div>

               
              </td>
              <span class="delAttr"
              (click)="service.triggerDelAttrs({
                attrItem:attr,
                idItem:item[service.objectKeys.id]
              })"
              (click)="delAttr(attr)"
              >
                <i class="fas fa-times-circle red-text"></i>
              </span>
            </tr>
          </div>
        </tbody>
      </table>
    </div>



  </div>
</div>
