<div class="col s12 level-field">
    <div class="label-cont">
        <label [for]="field.etiqueta">
            {{field.etiqueta}} <span class="red-text"
                  *ngIf="field.requerido">*</span>
        </label>
        <Gdev-info-box *ngIf="field.info" [data]="field"></Gdev-info-box>
    </div>
    <p class="range-field">
        <span class="label">
            {{field.minText}}
        </span>
        <span class="label" style="float: right;">
            {{field.maxText}}
        </span>
        <input type="range" [id]="field.etiqueta" [value]="setValue()" [min]="field.minCant" [max]="field.maxCant" (change)="getValue.emit({
            key:field.etiqueta, 
            value: +$event.target.value
        })" />
    </p>
</div>


<div class="col s1">
    <mat-chip class="clear_value" 
        [matTooltip]="'Elimina el atributo'"
        *ngIf="main.ClearValues"
        (click)="main.clearFieldValue.next(field.etiqueta)" >
        <i class="fas fa-trash red-text"></i>
    </mat-chip>
</div>